.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-right: 12rem;
}
.div {
  background-color: #fff;
  padding: 1rem 5rem;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #aaaaaa;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 180px;
}
.div h3 {
  margin: 10px;
  padding: 10px;
}
.profit p,
.productsSold p,
.things p {
  font-size: 22px;
  font-weight: bold;
  color: #03cb03;
}
.content_box {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container .date_search {
  margin: 1rem 1rem 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date_search input {
  width: 300px;
  font-size: 18px;
  border: 1px solid #999;
  outline: none;
  border-radius: 10px;
  padding: 5px;
}
